<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find big_gazebo_arm)/control_config/three_dof_ctl.yaml" command="load"/>
  <param name="robot_description" 
     textfile="$(find big_gazebo_arm)/big_arm_desc.urdf"/>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
     args="-param robot_description -urdf -model three_DOF_robot_name"/>
  
  <!--start up the controller plug-ins via the controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/three_DOF_robot" args="joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller"/>
    
</launch>
